# Carpeta de compilación
target/

# Archivos de configuración de IntelliJ IDEA
.idea/

# Archivos de configuración de Eclipse
.classpath
.project

# Archivo de configuración de Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Archivos de informes de Serenity
target/site/

# Archivos de registros de Serenity
logs/

# Carpeta de informes de Screenplay
screenplay-reports/

# Archivos de configuración local
serenity.properties